section.footer
  .container-fluid
    .row
      .col-md-12.col-sm-12.col-xs-12
        .row
          .col-md-6.col-sm-6.col-xs-6
            p 
              i.fa.fa-copyright
              |  U Kowala
          .col-md-6.col-sm-6.col-xs-6
            p made by cavabonga
              
