section.gora
  .container
    .row
      .col-md-12
        h1.text-center Dom<span class="u"> Wes</span>elny <span class="u">z</span> lo<span class="u">tu</span> Pta<span class="u">ka</span>
        
      .col-md-10.col-md-offset-1  
        p.text-justify Wśród zielonych terenów, w pobliżu źródełek wpadających bezpośrednio do Mlecznej, szemrzącej tuż za ogrodzeniem, położone jest piękne miejsce, w którym spędzisz niezapomniane chwile z rodziną i przyjaciółmi - Dom weselny U Kowala w Radomiu! 
        
        .row
          .col-md-4
            a(href="/assets/img/gora/zlotuptaka.jpg" data-fancybox="images")
              img(src="/assets/img/gora/zlotuptaka.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/gora/221940_img_2815pop.jpg" data-fancybox="images")
              img(src="/assets/img/gora/221940_img_2815pop.jpg" class="thumbnail img-responsive" id="fontanna")
          .col-md-4
            a(href="/assets/img/gora/222214_img_5159pop1.jpg" data-fancybox="images")
              img(src="/assets/img/gora/222214_img_5159pop1.jpg" class="thumbnail img-responsive")
