section.grill
  .container
    .row
      .col-md-12
        h1.text-center Gri<span class="u">ll</span>
        
      .col-md-10.col-md-offset-1  
        p.text-justify Blisko stawu, wśród zieleni stoi okazały grill. Jeśli takie życzenie Państwa Młodych, potrawy z grilla serwować możemy w trakcie poprawin lub przyjęcia weselnego.  
        
        .row
          .col-md-4
            a(href="/assets/img/grill/172549_img_4305.jpg" data-fancybox="images")
              img(src="/assets/img/grill/172549_img_4305.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/grill/dom_weselny_grill.jpg" data-fancybox="images")
              img(src="/assets/img/grill/dom_weselny_grill.jpg" class="thumbnail img-responsive" id="fontanna")
          .col-md-4
            a(href="/assets/img/grill/152736_img_5150.jpg" data-fancybox="images")
              img(src="/assets/img/grill/152736_img_5150.jpg" class="thumbnail img-responsive")
              
          .col-md-4
            a(href="/assets/img/grill/dom_wesleny_radom_grill_2.jpg" data-fancybox="images")
              img(src="/assets/img/grill/dom_wesleny_radom_grill_2.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/grill/220321_y15b4102.jpg" data-fancybox="images")
              img(src="/assets/img/grill/220321_y15b4102.jpg" class="thumbnail img-responsive" id="fontanna")
          .col-md-4
            a(href="/assets/img/grill/dom_wesleny_radom_grill_3.jpg" data-fancybox="images")
              img(src="/assets/img/grill/dom_wesleny_radom_grill_3.jpg" class="thumbnail img-responsive")
