section.imprezy#firmowe
  .container
    .row
     .col-md-12.text-center
      h1 Impr<span class="u">ezy</span> Fir<span class="u">mowe</span>
      
      .col-md-10.col-md-offset-1.nopad
        img(src="/assets/img/stol_1.jpg" class="img-responsive" id="stol")
        p.text-justify Organizujemy przyjęcia okolicznościowe a w tym imprezy firmowe i zjazdy rodzinne. Zapewniamy miłą atmosferę, profesjonalną obsługę i pełen katering z bogatym menu, a także wiele dodatkowych atrakcji. Obszerny ogrodzony teren zielony sprzyja spacerom i luźnym rozmowom. Wygodne, szerokie stoły w krytej strzechą altanie służą dobrej zabawie przy kuflu piwa. Serwujemy potrawy z dużego grilla na świeżym powietrzu.  
        p.text-justify Sala taneczna z dobrą akustyką i mnóstwem miejsca do zabawy oraz sala jadalna mieszcząca nawet ponad 200 osób pozostają do dyspozycji naszych klientów. Możliwa jest organizacja konferencji i dużych spotkań biznesowych. Na życzenie klientów udostępniamy drink bar z fachową obsługą i grill z ciekawymi potrawami.
