section.kontakt#kontakt
  .container
    .row
      .col-md-10.col-md-offset-1 
        hr
      .col-md-12
        h1.text-center Kont<span class="u">akt</span>     
      .col-md-10.col-md-offset-1 
        hr
        .text-center
          h3 26-600 Radom
          h3 ul. Owalna 12
          h3
            i.fa.fa-phone
            |  (+48) 48 331-57-86
          h3
            i.fa.fa-mobile-phone
            |  (+48) 501-509-269
          a(href="mailto:ukowala.r@wp.pl")
            i.fa.fa-envelope
            |  ukowala.r@wp.pl
