section.pokoje
  .container
    .col-md-12
      h1.text-center Pok<span class="u">oje</span> Gośc<span class="u">inne</span>
      
    .row  
      .col-md-10.col-md-offset-1
        p.text-justify Zmęczeni zabawą goście weselni mogą skorzystać z wygodnych pokojów gościnnych. Dom weselny dysponuje pięcioma pokojami gościnnymi, w każdym z nich jest cztery łóżka. Ponadto pokój dla pary młodej wyposażony jest w wygodnw kute łoże, własną toaletę oraz bezpieczny sejf.
      
        .row
          .col-md-4
            a(href="/assets/img/pokoje/dom_weselny_pokoje_goscinne_1.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/dom_weselny_pokoje_goscinne_1.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/pokoje/dom_weselny_pokoje_goscinne_2.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/dom_weselny_pokoje_goscinne_2.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/pokoje/dom_weselny_pokoje_goscinne_4.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/dom_weselny_pokoje_goscinne_4.jpg" class="thumbnail img-responsive" alt="")
              
        .row
          .col-md-4
            a(href="/assets/img/pokoje/20160525_184614.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/20160525_184614.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/pokoje/20160525_184650.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/20160525_184650.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/pokoje/dom_weselny_pokoje_444.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/dom_weselny_pokoje_444.jpg" class="thumbnail img-responsive" id="pokoj_1" alt="")
              
        .row
          .col-md-4
            a(href="/assets/img/pokoje/dom_weslny_pokoje_goscinne_31.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/dom_weslny_pokoje_goscinne_31.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/pokoje/dom_weslny_pokoje_goscinne_6.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/dom_weslny_pokoje_goscinne_6.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/pokoje/dom_weslny_pokoje_goscinne_21.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/dom_weslny_pokoje_goscinne_21.jpg" class="thumbnail img-responsive" alt="")
              
        .row
          .col-md-6
            a(href="/assets/img/pokoje/dom_weselny_pokoje_goscinne_1_lazienka.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/dom_weselny_pokoje_goscinne_1_lazienka.jpg" class="thumbnail img-responsive" alt="")
          .col-md-6
            a(href="/assets/img/pokoje/dom_weslny_pokoje_goscinne_41.jpg" data-fancybox="images")
              img(src="/assets/img/pokoje/dom_weslny_pokoje_goscinne_41.jpg" class="thumbnail img-responsive" alt="")
      
