section.staw
  .container
    .row
      .col-md-12
        h1.text-center St<span class="u">aw</span> & <span class="u">Font</span>anna
        
      .col-md-10.col-md-offset-1
        p.text-justify Bajkowy, romantyczny staw otoczony jest bezpiecznym, kutym ogrodzeniem. W wodzie odbijają się strzeliste topole wysokie wiązy i gęste haszcze olszyny. Wokół stawu naturalnie rośnie wiele gatunków roślin stwarzając dopełnienie widoku jak z romantycznych opowieści. Lilie wodne bieleją wśród swych wielkich zielonych liści pływających na powierzchni spokojnej wody. Do stawu wpada leniwie płynący strumyk z pobliskiego źródła, by wspólnie z wodami stawu zasilić meandry przecinającej Radom rzeczki Mlecznej przepływającej opodal.  
        p.text-justify Warto na chwilę zatrzymać się nad strumykiem, ochłonąć i odpocząć przed nastepnym weselnym tańcem w przyjemnym chłodzie bijącym od stawu. Wieczorową porą w wodach odbija się księżyc i inspiruje do romantycznych uniesień młodą parę i weselnych gości, a wielobarwna fontanna daje niezapomniane występy
        
        .row
          .col-md-4
            a(href="/assets/img/staw/dom_weselny_radom_staw6.jpg" data-fancybox="images")
              img(src="/assets/img/staw/dom_weselny_radom_staw6.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/staw/220807_y15b4315.jpg" data-fancybox="images")
              img(src="/assets/img/staw/220807_y15b4315.jpg" class="thumbnail img-responsive" id="fontanna")
          .col-md-4
            a(href="/assets/img/staw/dom_Weselny_na_zewnatrz_Y15B9094.jpg" data-fancybox="images")
              img(src="/assets/img/staw/dom_Weselny_na_zewnatrz_Y15B9094.jpg" class="thumbnail img-responsive")
              
        
