section.wiejski
  .container
    .row
      .col-md-12.text-center
        h1 St<span class="u">ół</span> Wiej<span class="u">ski</span>
      .col-md-10.col-md-offset-1  
        .row
          .col-md-4
            a(href="/assets/img/stol_wiejski/wiejski_stol_Y15B9194.jpg" data-fancybox="images")
              img(src="/assets/img/stol_wiejski/wiejski_stol_Y15B9194.jpg" class="thumbnail img-responsive" id="wiejski_1" alt="")
          .col-md-4
            a(href="/assets/img/stol_wiejski/wiejski_stol_Y15B9191.jpg" data-fancybox="images")
              img(src="/assets/img/stol_wiejski/wiejski_stol_Y15B9191.jpg" class="thumbnail img-responsive" id="wiejski_2" alt="")
          .col-md-4
            a(href="/assets/img/stol_wiejski/163903_sam_2417.jpg" data-fancybox="images")
              img(src="/assets/img/stol_wiejski/163903_sam_2417.jpg" class="thumbnail img-responsive" alt="")

      .col-md-12.text-center
        h1 Toa<span class="u">lety</span> & H<span class="u">o</span>l
        
      .col-md-10.col-md-offset-1
        p.text-justify Każda dama potrzebuje miłej i eleganckiej atmosfery , aby poprawić swoją urodę. Tylko Merlin będzie widziała jak to robimy. Ciiii..., ale to już nasza słodka tajemnica.
        .row
          .col-md-4
            a(href="/assets/img/toalety/124023_7lazienka_dom_weselny_radom_owalna.jpg" data-fancybox="images")
              img(src="/assets/img/toalety/124023_7lazienka_dom_weselny_radom_owalna.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/toalety/124132_3lazienka_dom_weselny_radom_owalna.jpg" data-fancybox="images")
              img(src="/assets/img/toalety/124132_3lazienka_dom_weselny_radom_owalna.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/toalety/131916_1lazienka_dom_weselny_radom_owalna.jpg" data-fancybox="images")
              img(src="/assets/img/toalety/131916_1lazienka_dom_weselny_radom_owalna.jpg" class="thumbnail img-responsive" alt="")
              
        .row    
          .col-md-4
            a(href="/assets/img/toalety/120224_4lazienka_dom_weselny_radom_owalna.jpg" data-fancybox="images")
              img(src="/assets/img/toalety/120224_4lazienka_dom_weselny_radom_owalna.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/toalety/120248_6lazienka_dom_weselny_radom_owalna.jpg" data-fancybox="images")
              img(src="/assets/img/toalety/120201_2lazienka_dom_weselny_radom_owalna.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/toalety/120248_6lazienka_dom_weselny_radom_owalna.jpg" data-fancybox="images")
              img(src="/assets/img/toalety/120248_6lazienka_dom_weselny_radom_owalna.jpg" class="thumbnail img-responsive" alt="")
              
        .row    
          .col-md-4
            a(href="/assets/img/toalety/111341__img8797.jpg" data-fancybox="images")
              img(src="/assets/img/toalety/111341__img8797.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/toalety/113339__img8847.jpg" data-fancybox="images")
              img(src="/assets/img/toalety/113339__img8847.jpg" class="thumbnail img-responsive" alt="")
          .col-md-4
            a(href="/assets/img/toalety/140205_y15b4126.jpg" data-fancybox="images")
              img(src="/assets/img/toalety/140205_y15b4126.jpg" class="thumbnail img-responsive" alt="")
