section.sylwek#sylwester
  .container
    .row
     .col-md-12.text-center
      h1 Syl<span class="u">we</span>ster
      
      .col-md-10.col-md-offset-1.nopad
        img(src="/assets/img/sylwek.jpg" class="img-responsive" id="syl")
        hr
