section.wokol#wokol
  .container
    .col-md-10.col-md-offset-1
      hr
    .col-md-12
      h1.text-center Wok<span class="u">ół</span> Do<span class="u">mu</span>
    .col-md-10.col-md-offset-1
      hr
    .col-md-12
      h1.text-center Wodo<span class="u">spad</span> & <span class="u">Stru</span>myk
    .row
      .col-md-10.col-md-offset-1
        p.text-justify Źródłem wijącego się pośród zielonych traw strumyka jest uroczy wodospad. Z niewielkiego, skalistego pagórka porośniętego górskimi kosodrzewinami bije źródełko czystej wody. Spadające strugi wesoło połyskują światłem zachodzącego słońca, przyjemnie szumią, nadając atmosferze romantyzmu jeszcze głębszego znaczenia. Zasłuchani goście chętnie przechadzają się alejką wzdłuż strumyka.
        
        .row
          .col-md-4
            a(href="/assets/img/wodospad/strumyk_dom_weselny_radom_owalna.jpg" data-fancybox="images")
              img(src="/assets/img/wodospad/strumyk_dom_weselny_radom_owalna.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/wodospad/dom_weselny_radom_staw.jpg" data-fancybox="images")
              img(src="/assets/img/wodospad/dom_weselny_radom_staw.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/wodospad/strumyk_dom_weselny_Radom_owalna_Y15B8845.jpg" data-fancybox="images")
              img(src="/assets/img/wodospad/strumyk_dom_weselny_Radom_owalna_Y15B8845.jpg" class="thumbnail img-responsive")
              
          .col-md-4
            a(href="/assets/img/wodospad/123542_2strumyk_dom_weselny_radom_owalna.jpg" data-fancybox="images")
              img(src="/assets/img/wodospad/123542_2strumyk_dom_weselny_radom_owalna.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/wodospad/dom_weselny_radom_staw2.jpg" data-fancybox="images")
              img(src="/assets/img/wodospad/dom_weselny_radom_staw2.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/wodospad/222829_y15b4363.jpg" data-fancybox="images")
              img(src="/assets/img/wodospad/222829_y15b4363.jpg" class="thumbnail img-responsive")
              
          .col-md-4
            a(href="/assets/img/wodospad/dom_weselny_radom_staw4.jpg" data-fancybox="images")
              img(src="/assets/img/wodospad/dom_weselny_radom_staw4.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/wodospad/22747_y15b4120.jpg" data-fancybox="images")
              img(src="/assets/img/wodospad/22747_y15b4120.jpg" class="thumbnail img-responsive")
          .col-md-4
            a(href="/assets/img/wodospad/dom_weselny_radom_staw5.jpg" data-fancybox="images")
              img(src="/assets/img/wodospad/dom_weselny_radom_staw5.jpg" class="thumbnail img-responsive")
  
    
