---
layout: default
title: U Kowala
---
<div>

   {% include navbar.html %}
   {% include home.html %}
   {% include uroczystosci.html %}
   {% include wesela.html %}
   {% include komunie.html %}
   {% include impr_firmowe.html %}
   {% include sylwester.html %}
   {% include dom.html %}
   {% include drink.html %}
   {% include stol_wiejski.html %}
   {% include pokoje.html %}
   {% include wokol.html %}
   {% include staw.html %}
   {% include altana.html %}
   {% include grill.html %}
   {% include gora.html %}
   {% include plener.html %}
   {% include kontakt.html %}
   {% include footer.html %}

</div>
